@model dynamic
@{
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}

<div class="w-100 row-infor flex">
    <div class="w-25">
        <em>Cơ quan chủ quản:&nbsp;</em> <br />
        <em>Cơ sở KB, CB:&nbsp;</em>
    </div>
    <div class="w-50">
        <h2 class="text-uppercase text-center mb-15 mt-15" style="font-weight: 700;">
            BÁO CÁO DOANH THU
        </h2>
    </div>
    <div class="text-end w-25 fs-22">
        <div>
            <em>MBC: BC-18&nbsp;</em>
        </div>
    </div>
</div>

<div class="row-infor">
    <div class="table">
        <table class="w-100">
            <thead>
                <tr class="text-center">
                    <th>STT</th>
                    <th>Mã hóa đơn</th>
                    <th>Tên khách hàng</th>
                    <th>Ngày lập</th>
                    <th>Tổng tiền</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int stt = 1;
                }
                @foreach (var item in Model.HoaDon)
                {
                    <tr>
                        <td class="text-center">@stt</td>
                        <td class="text-start">@item.Mahoadon</td>
                        <td class="text-start">@item.Tenkhachhang</td>
                        <td class="text-center">@item.NgayLap</td>
                        <td class="text-end">@item.Tongtien</td>
                    </tr>
                    stt++;
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center"><strong>Tổng doanh thu:</strong></td>
                    <td class="text-end"><strong>@Model.tongHoaDon</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="page-avoid mt-2">
    <div class="row-infor flex w-100 text-center mt-25">
        <div class="w-50">
            <div class="justify-content-center flex">
                &nbsp;
            </div>
            <div class="text-bold justify-content-center">
                Ban lãnh đạo
            </div>
            <div class="fs-19 justify-content-center mb-kyTen mt-5">
                <em>(Ký, ghi rõ họ tên)</em>
            </div>
            <div class="flex justify-content-center">
            </div>
        </div>
        <div class="w-50">
            <div class="justify-content-center flex">
                <em>
                    Ngày&nbsp;@DateTime.Now.Day&nbsp;tháng&nbsp;@DateTime.Now.Month&nbsp;năm&nbsp;@DateTime.Now.Year
                </em>
            </div>
            <div class="text-bold justify-content-center">
                Người đại diện
            </div>
            <div class="fs-19 justify-content-center mb-kyTen mt-5">
                <em>(Ký, đóng dấu)</em>
            </div>
            <div class="flex justify-content-center">
            </div>
        </div>
    </div>
</div>
